:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

.header {
    background-size: contain;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 4px var(--color-primary-shadow);
    height: 70px;
}

.container {
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 1352px;
}

.header-nav {
    justify-content: space-between;
    width: 500px;
    margin-right: 137px;
    margin-left: 137px;
}

.header-container, .header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", "san-serif";
    font-weight: lighter;
    color: var(--color-primary);
    font-size: 32px;
    text-decoration: none;
    margin-left: 137px;
}

.nav-link {
    text-decoration: none;
    font-family: "Open Sans", "san-serif";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3.30px;
    color: var(--color-grey);
    padding-right: 10px;
    padding-left: 10px;
}

.nav-link:hover {
    color: var(--color-black);
    padding-top: 28px;
    padding-bottom: 27px;
    border-bottom: 4px solid var(--color-primary);
}

