html { font-size: 62.5%; 
} 

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: $font-open-sans;
}

.container {
    width: 135.2rem;
    margin: 0 auto;

    @include notebook {
        width: 100%;
        padding: 0 15px;
      }
       
}

.logo {
    font-family: $font-raleway;
    font-weight: lighter;
    color: $color-primary;
    font-size: 3.2rem;
    text-decoration: none; 
    margin-left: 2rem;
}